.about-container {
  margin-top: 20vh;
  color: black;
}

.about-content {
  width: 45vw;
  padding-top: 0;
}

.about-content h2 {
  font-family: 'Righteous';
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.about-content p {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 34px;
}

.about-image {
  max-height: 550px;
  max-width: 550px;
  border-radius: 25px;
}

.about-panel-c {
  width: 88vw;
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 34px;
  margin: auto;
  margin-bottom: 10vh;
}

.about-panel-l {
  display: flex;
  width: 88vw;
  margin: auto;
  margin-bottom: 1rem;
}

.about-panel-l .about-image {
  margin-right: 1.5rem;
}

.about-panel-r {
  display: flex;
  flex-direction: row-reverse;
  width: 88vw;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 3rem;
}

.quote-button {
  background-color: rgb(68, 161, 184);
  border-radius: 7px;
  color: whitesmoke;
  padding: .85rem 2rem;
  width: fit-content;
  font-family: Poppins;
  font-size: 1.15rem;
  margin: 0 auto;
}

.quote-button a {
  color: whitesmoke;
}

.quote-button:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(68, 161, 184);
}

.quote-button:hover>a {
  color: rgb(68, 161, 184);
}