.brand-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  margin: auto;
}

.banner-card {
  width: 22vw;
}

.banner-title, .site-title {
  color: white;
  font-family: Righteous;
  font-weight: 400;
  text-transform: uppercase;
  
}

.banner-title {
  font-size: 30px;
  line-height: 40px;
}

.site-title {
  width: 23vw;
  height: 20vh;
  font-size: 55px;
  line-height: 65px;
  padding: 5rem;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  text-align: center;
}